body{
    padding: 0;
    margin: 0;
}

.navbar{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: gray;
    overflow: hidden;
}

.navbar li{
    float: right;
}

.navbar li a { 
    display: block;
    color: #FFEC23;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  